.message {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  margin-bottom: 15px;
  .messgeInfo {
    padding: 20px 20px 20px 10px;
  }
  .messageTimestamp {
    color: cadetblue;
    margin-left: 20px;
    font-size: 16px;
  }
}
